version: "3"
services:
  cadvisor:
    container_name: cadvisor
    image: gcr.io/cadvisor/cadvisor:v0.55.1
    ports:
      - "8081:8080"
    volumes:
      - "/:/rootfs:ro"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "/sys:/sys:ro"
      - "/var/lib/docker:/var/lib/docker:ro"
      - "/dev/disk:/dev/disk:ro"
      # - "/dev/mapper:/dev/mapper:ro"
      - "/sys/fs/cgroup:/sys/fs/cgroup:ro"
      - /var/run:/var/run:rw
    privileged: true
    restart: unless-stopped

  prometheus:
    container_name: prometheus
    image: prom/prometheus:latest
    volumes:
      - "./prometheus.yml:/etc/prometheus/prometheus.yml"
    depends_on:
      - cadvisor

  grafana:
    container_name: grafana
    image: grafana/grafana:latest
    ports:
      - "3003:3000"
    volumes:
      - "grafana-data:/var/lib/grafana"
    #  - ./grafana.ini:/etc/grafana/grafana.ini:ro

   # networks:
    #  - redpanda-interop

    depends_on:
      - prometheus

volumes:
  grafana-data:

#networks:
  #redpanda-interop:
    #external: true
